{{#page-header createProgressBar='createProgressBar'}}
  {{#page-title}}progressapp.io{{/page-title}}
{{/page-header}}
<section>
  {{progressbar-list title='My awesome progress bar list' data=model}}
</section>
{{outlet}}